<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>
</head>

<body>
    <h1>Category</h1>
    <a href="{% url 'product_create' %}">New Product</a>
    <ul>
        {% for p in categorys %}
        <li>
            <a href="{% url 'productlist' p.id %}"> {{ p.category_name }} </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>