{% extends "pricelist/base.html" %}
{% block content %}

<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group"> 
                <label for="name">Name</label>
                {{ form.name }}
            </div>
            <div class="form-group"> 
                <label for="price">Price</label>
                {{ form.price }}
            </div>
            <div class="form-group"> 
                <label for="category">Category</label>
                {{ form.category }}
            </div>
            <div class="btn-group">
                <input type="submit" value="Submit" class="btn btn-default"></input>
                {% if product %}
                <a class="btn btn-default" href="{% url 'product_delete' product.id %}">Delete</a>
                {% endif %}
            </div>
        
        </form>

    </div>
</body>
{% endblock %}