{% extends "pricelist/base.html" %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-7'>
            <div class='container'>

                <div class='row'>
                <input class="form-control col-sm-7 md-3 mr-2 ml-4" id="myInput" type="text" placeholder="Search..">

                <select class="form-control col-sm-4" id="category">
                    {% for c in categorylist %}
                    <option class='form-control' value={{ c.category_name }}>{{ c.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
                <div class='table-responsive mt-1' style="height: 460px;overflow-y: scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Unit</th>
                                <th>Base</th>
                                <th class='d-none'>Category</th>
                                <th>Kyat</th>
                                <th>Baht</th>
                                <th><a href={% url 'product_create' %}>add</a></th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            {% for p in productlist %}
                            <tr>
                                <td>
                                    <a href="product_update/{{ p.id }}">{{ p.name }}</a>
                                </td>
                                <td>
                                    {{ p.Unit }}
                                </td>
                                <td>
                                    {{ p.price|floatformat }}
                                    {{ p.base_currency }}
                                </td>
                                <td class='d-none'>
                                    {{p.category}}
                                </td>
                                <td>
                                    {{p.priceinkyat }}
                                </td>
                                <td>
                                    {{ p.priceinbaht|floatformat }}
                                </td>
                                <td class='d-none'>
                                    {{ p.tags }}
                                </td>
                                <td>
                                    <a href='#'>add to cart</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class='col-sm-5 border border-primary rounded' style="height: 500px;overflow-y: scroll;">
            <h1>invoice area</h1>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $('#category').change(function(){
            var value = $(this).children("option:selected").val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}